<div class="container px-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link text-light btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Carlos Andrés Rojas Parra
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body row">
          <img src="assets/img/students/andres.jpg" class="col-2" style="width: 40px; height: 100px;">
          <div class="col-10">
            <h5><strong>Ingeniería de sistemas</strong></h5>
            <p>Estudiante del curso de Laravel 8</p>
          </div>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-dark" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link text-light btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Valentina Galeano Taborda
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body row">
          <img src="assets/img/students/valentina.jpeg" class="col-2" style="width: 40px; height: 100px;">
          <div class="col-10">
            <h5><strong>Derecho</strong></h5>
            <p>Estudiante del curso de Angular</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-dark" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link text-light btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Jeronimo Cardona Taborda
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body row">
          <img src="assets/img/students/jeronimo.jpeg" class="col-2" style="width: 40px; height: 100px;">
          <div class="col-10">
            <h5><strong>Colegio Salesiano SJB</strong></h5>
            <p>Estudiante del curso de POO</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
