<div class="container px-5 py-5">
  <div class="card bg-light mb-3 shadow mb-5 bg-white rounded">
    <div class="card-header bg-dark text-center"><h4 class="h5">INSCRIPCIÓN</h4></div>
    <div class="card-body">
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Apellido">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Dirección">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Telefono">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Contraseña">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Confirmar contraseña">
          </div>
        </div>
        <div class="row mb-3 mt-4 px-4">
          <div class="col container">
            <button class="btn btn-dark btn-block">Registrarse</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

