<div class="container py-5 card-columns">
  <div class="card">
    <img src="assets/img/courses/poo.png" class="card-img-top img-fluid" style="width: 500px; height: 250px;" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Curso de POO</h5>
      <p class="card-text text-center">Programación orientada a objetos en Python y Java de cero a experto</p>
      <a href="#" class="btn btn-outline-dark btn-block">Ingresar</a>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/courses/laravel.png" class="card-img-top img-fluid" style="width: 500px; height: 250px;"alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Curso de Laravel 8</h5>
      <p class="card-text text-center">Curso completo de un sistema de ventas en laravel 8</p>
      <a href="#" class="btn btn-outline-dark btn-block">Ingresar</a>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/courses/angular.jpg" class="card-img-top img-fluid" style="width: 500px; height: 250px;"alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Curso de Angular</h5>
      <p class="card-text text-center">Curso completo de un sistema de información en Angular</p>
      <a href="#" class="btn btn-outline-dark btn-block">Ingresar</a>
    </div>
  </div>

</div>
